<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-light p-3 mb-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <img src="{{ asset('uploads/images/logo.jpg') }}" alt="Logo" style="height: 50px;">
                </div>
                <nav>
                    <a href="{{ path('home') }}" class="btn btn-link">Accueil</a>
                    <a href="{{ path('blog') }}" class="btn btn-link">Blog</a>
                    <a href="{{ path('contact') }}" class="btn btn-link">Contact</a>
                    <a href="{{ path('admin') }}" class="btn btn-link">Admin</a>
                    <a href="{{ path('admin_messages') }}"class="btn btn-link">Messages</a>
                    <a href="{{ path('app_login') }}" class="btn btn-link">Connexion</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer class="bg-light p-3 mt-4">
        <div class="container text-center">
           <p>&copy; {{ "now"|date("Y") }} Mon Blog. Tous droits réservés.</p>
           <p>
            <a href="{{ path('mentions_legales') }}">Mentions légales</a> |
            <a href="{{ path('politique_confidentialite') }}">Politique de confidentialité</a>
        </p>
        </div>
    </footer>
</body>
</html>