{% extends 'base.html.twig' %}

{% block title %}Modifier l'Article: {{ article.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Modifier l'article: {{ article.title }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.imageFile) }}
    <button type="submit" class="btn btn-warning">Mettre à jour l'article</button>
    {{ form_end(form) }}
</div>
{% endblock %}